@font-face {
  font-family: robomed;
  src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: robothin;
  src: url(fonts/Poppins-Regular.ttf);
}

:root {
  --main-bg-color: #d1d9dc;
  --section-bg-color: white;
  --higlight-clr: #A10035;
  --tle-clr: #2F9CFC;
}

body {
  margin: auto;
  font-family: robomed;
  background-color: #EAF2F9;
}

body, h1 {
  outline: none;
  border: 0;
  /* background-color: var(--main-bg-color); */
}

/* Additionl conditions */
.noselect {
  -webkit-user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.bg {
  /* The image used */
  /* background-image: url("icons/bg-img.jpg"); */
  /* Full height */
  /* height: 100%; */
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
}

h3, p, span, div, input {
  margin: 0;
  padding: 0;
}

.main {
  padding-inline: 0.7rem;
}

.heading {
  background-color: #fff;
  height: 2rem;
  border-radius: 0px 0px 10px 10px;
}

.tle-clr {
  color: var(--tle-clr);
}

.space-btw {
  padding-inline: 0.7rem;
  padding-block: 0.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #fff;
  border: none;
  outline: none;
}

.clr, .chk {
  width: 16px;
  height: 18px;
}

.clr:hover>path {
  fill: var(--higlight-clr);
}

/* Titles and subtitle */
.coord {
  align-content: center;
}

.sub {
  display: flex;
  align-items: center;
}

.chk {
  padding-left: 0.5rem;
}

input {
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

input:checked+span {
  color: var(--higlight-clr);
  border-bottom: 2px solid var(--higlight-clr);
}

p, span {
  font-size: 13px;
  word-wrap: break-word;
  font-family: robothin;
}

label {
  user-select: none;
  text-align: center;
}

/* Body */
#mainBody {
  margin-block: 4px;
  padding-inline: 0;
}

#mainBody>div {
  margin-block: 10px;
}

.clipboard {
  background-color: var(--section-bg-color);
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

/* Scroller */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(48, 71, 75, 0.46);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tle-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8ECAFF;
}

/* Body */
#mainBody p {
  margin-block: 6px;
}

/* Pin action highlight */
.pinned {
  border-right: 4px solid #A10035;
  border-radius: 5px 0 0 5px;
}
