/* Setting fonts */
@font-face {
  font-family: robomed;
  src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: robothin;
  src: url(fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Setting custom attributes */
:root {
  /* Distance */
  --switch-slider: 12px;
  --switch-slider-translate: 20px;
  --switch-postion: 4px;
  /* Header */
  --tle-h1: 1rem;
  /* module */
  --mod-h2: 0.8rem;
  --mod-clr-h2: #5f5f5f;
  /* Color */
  --clr-bg-lgt: #f4f4f4;
  --clr-pri: #2f9cfc;
  --clr-default-btn: #b4b3b3;
  --higlight-clr: #a10035;
  --clr-copied: #8fe3cf;
  /* scrollbar */
  --clr-scroll-hght: #8ecaff;
}

@media (prefers-color-scheme: dark) {
  /* Setting custom attributes */
  :root {
    /* Distance */
    --switch-slider: 12px;
    --switch-slider-translate: 20px;
    --switch-postion: 4px;
    /* Header */
    --tle-h1: 1rem;
    /* module */
    --mod-h2: 0.8rem;
    --mod-clr-h2: #b4b3b3;
    /* Color */
    --clr-bg-lgt: #2c2b2b;
    --clr-card: #5f5f5f;
    --clr-pri: #2f9cfc;
    --clr-default-btn: #b4b3b3;
    --higlight-clr: #eb4747;
    --clr-copied: #8fe3cf;
    --clr-hight-hover: var(--clr-copied);
    --clr-separator: #787777;
    /* scrollbar */
    --clr-scroll-hght: #8ecaff;
  }
  .content-val {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  /* Setting custom attributes */
  :root {
    /* Distance */
    --switch-slider: 12px;
    --switch-slider-translate: 20px;
    --switch-postion: 4px;
    /* Header */
    --tle-h1: 1rem;
    /* module */
    --mod-h2: 0.8rem;
    --mod-clr-h2: #5f5f5f;
    /* Color */
    --clr-bg-lgt: #f4f4f4;
    --clr-card: #fff;
    --clr-pri: #2f9cfc;
    --clr-default-btn: #b4b3b3;
    --higlight-clr: #a10035;
    --clr-copied: #8fe3cf;
    --clr-hight-hover: #2f9cfc;
    --clr-separator: #e7e6e6;
    /* scrollbar */
    --clr-scroll-hght: var(--clr-pri);
  }
}

body {
  background-color: var(--clr-bg-lgt);
  font-family: robomed;
}

.body {
  padding: 13px 14px;
  font-family: robomed;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* general */
.fl {
  display: flex;
  /* border: 1px solid black; */
  flex-wrap: wrap;
}

.fl-spbtw {
  justify-content: space-between;
  align-items: center;
}

/* Additionl conditions */
.noselect {
  -webkit-user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* Scroller */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-default-btn);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-pri);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-scroll-hght);
}

/* body */
/* header */
.sticky {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.title {
  color: var(--clr-pri);
  font-size: var(--tle-h1);
  letter-spacing: 2px;
}
.light-dark {
  gap: 4px;
}
.btn-default path {
  fill: var(--clr-default-btn);
}

.nav {
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Module */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input,
.mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--switch-slider);
  width: var(--switch-slider);
  left: var(--switch-postion);
  bottom: var(--switch-postion);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--clr-pri);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-pri);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--switch-slider-translate));
  -ms-transform: translateX(var(--switch-slider-translate));
  transform: translateX(var(--switch-slider-translate));
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.modules {
  gap: 12px;
  align-items: center;
}

.module {
  letter-spacing: 0.08rem;
  font-weight: 400;
}

.module,
.clips {
  font-family: robothin;
  font-size: var(--mod-h2);
  color: var(--mod-clr-h2);
}

/* clips */
.clips {
  flex-direction: column;
  gap: 11px;
}

.clip {
  border-radius: 0.625rem;
  background-color: var(--clr-card);
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  word-wrap: break-word;
  transition: 0.2s;
}
.content-val {
  transition: 0.5s;
  cursor: pointer;
}

.clip:hover {
  transform: scale(0.95);
}
.clip:hover > .content > .content-val {
  color: var(--clr-hight-hover);
}
.content-val.activeCopies {
  color: var(--clr-hight-hover);
}
.activeCopiesIcon path {
  fill: var(--clr-hight-hover);
}
path {
  transition: 1s all;
}
.clipAction {
  gap: 12px;
}
.timeline {
  color: #b4b3b3;
  font-size: 0.75rem;
}
.action {
  padding-block-start: 6px;
  border-top: 1px solid var(--clr-separator);
}
.copies:hover + .action > .clipAction > .btn > .copy path {
  fill: var(--clr-copied);
}
.btn-default {
  /* transition: 0.5s; */
}
.pin:hover path {
  fill: var(--clr-pri);
}
.pinactive {
  transform: rotate(180deg);
}
.pinactive path {
  fill: var(--clr-pri);
}

.copy-el path {
  fill: var(--clr-copied);
}

.delete-single:hover path,
.delAllClip:hover path {
  fill: var(--higlight-clr);
}
.footerContainer {
  /* height: 2vh; */
}
.footerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  /* justify-content: center;
  text-align: center; */
}

.copyright {
  color: var(--clr-pri);
  padding: 1rem;
  padding-block-end: 0;
  font-size: 9px;
}
